:root {
    --bg-utama: #121212;
    --bg-sekunder: #1A1A1A;
    --teks-utama: #E0E0E0;
    --aksen-merah: #E3000F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, .logo h2 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px; 
}

body {
    background-color: var(--bg-sekunder);
    color: var(--teks-utama);
    line-height: 1.6;
}

header {
    background-color: var(--bg-sekunder);
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 55px;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}
.logo img:hover {
    transform: scale(1.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links li a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--teks-utama);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--aksen-merah);
}

.hamburger {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--teks-utama);
    border-radius: 3px;
    transition: all 0.3s ease;
}

.halaman-tentang {
    padding: 80px 50px;
    background-color: var(--bg-utama);
    text-align: center;
}

.Tentang-container {
    max-width: 700px;
    margin: 0 auto;
}

.halaman-tentang h1{
    font-size: 3rem;
    color: var(--teks-utama);
    margin-bottom: 10px;
}

.Sub-judul {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--teks-utama);
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.tentang-konten  {
    font-size: 1.1rem;
    color: #B0B0B0;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify; 
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap; 
}

.tentang-teks p {
    font-size: 1.1rem;
    color: var(--teks-utama);
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}

.logo-besar {
    flex: 1;
    min-height: 200px;
    min-width: 200px;
    margin: 0 auto;
}
.logo-besar img {
    width: 45%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.link {
    font-size: 1rem;
    color: var(--teks-utama);
    line-height: 1.8;
    margin-bottom: 20px; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.info a:hover {
    color:  var(--bg-sekunder);
}

.tentang-toko {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    background-color:var(--aksen-merah) ;
    padding: 40px 30px;
    border-radius: 10px;
}

.info {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center
}

.info h3{
    font-size: 1.5rem;
    color: var(--teks-utama);
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

.info p {
    font-size: 1rem;
    color: var(--teks-utama);
    line-height: 1.6;
}

.footer-home {
    background-color: var(--bg-sekunder);
    padding: 40px 50px;
    text-align: center; 
    border-top: 1px solid #333; 
}

.footer-home p {
    color: #A0A0A0; 
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.link-media-sosial {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 30px;
}

.link-media-sosial a {
    display: flex;
    align-items: center; 
    gap: 8px; 
    color: var(--teks-utama);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.link-media-sosial a:hover {
    color: var(--aksen-merah);
}

.testimoni{
    padding: 20px;
}

.hamburger {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--teks-utama);
    border-radius: 3px;
    transition: all 0.3s ease;
}

.tombol-tutup {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    .hamburger {
        display: flex; 
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links{
        position: fixed; 
        top: 0;
        right: -100%; 
        left: auto; 
        width: 250px; 
        height: 100vh; 
        background-color: var(--bg-sekunder);
        flex-direction: column;
        justify-content: flex-start; 
        padding-top: 80px;
        align-items: center;
        transition: right 0.4s ease;
        box-shadow: -5px 0 15px rgba(0,0,0,0.6); 
        z-index: 1000;
    }
    .nav-links.aktif {
        right: 0;
    }

    .tombol-tutup {
        display: block;
        position: absolute;
        top: 20px; 
        right: 30px; 
        font-size: 2.5rem; 
        color: var(--teks-utama);
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .tombol-tutup:hover {
        color: var(--aksen-merah);
    }

    .hero-section, 
    .produk-highlight, 
    .halaman-tentang, 
    .footer-home {
        padding: 50px 20px; 
    }

    .hero-content h1, 
    .halaman-tentang h1, 
    .produk-highlight h2 {
        font-size: 2rem; 
    }

    .tentang-konten {
        flex-direction: column; 
        gap: 30px;
    }
    .tentang-toko {
        flex-direction: column;
        padding: 20px;
    }

    
    .filter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    .btn-filter {
        margin: 0;
        font-size: 0.9rem;
    }
}